
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> :)(: Danch22 :)(:</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='static/tweet.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tweet.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    
    <div class="container">
        <h2 class='container-heading'><span><strong>😀Tweet </strong> </span> Sentiment analysis😑</h2>
    </div>
    <div class="ml-container">
        <br><br><br><br>
        <form action="{{ url_for('predict') }}" method="POST">
            <input type="text" name="tweet" class="input"  placeholder="Enter the tweet you want to check..." autocomplete="off" required >
            <br>
            <br>
            <input type="submit" class="my-cta-button" value="Predict">
        </form>
    </div>
    <div class='footer'>
        <a target="_blank" href="/" ><i class="fa fa-home fa-lg contact-icon"></i></a>
        <p class='footer-description'>Made with ❤️ by Danch22👋</p>
    </div>
</body>
</html>